body {
    background-color: rgb(43, 38, 38);
    font-size: 40px;
    background-image: url("logotipo.jpg");
    background-repeat: no-repeat;
    background-size: 200px 200px;
    
}
   
}
li {background-color: rgb(27, 23, 23); 
    border: 8px solid rgb(153, 153, 153);
    color:rgb(9, 131, 238); 
    float:center;
    padding: 10px 18px;
    text-align: center;
    overflow: hidden;
 

h2 {
    font-style: oblique;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
font-size: 75px;
}
p {
    font-size: 40px;
    font-family:cursive;
}
